<a href="https://colab.research.google.com/github/btier002/CSC221_BTIER002/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 5 in crash course

In [ ]:
# TIY 4-1 Pizzas
pizzas = ["pepperoni", "cheese", "four cheese"]

for pizza in pizzas:
  print("i like this type of pizza:", pizza)
print("i really love pizza!!!!")

i like this type of pizza: pepperoni
i like this type of pizza: cheese
i like this type of pizza: four cheese
i really love pizza!!!!

In [ ]:
# TIY 4-2 Animals
house_animals = ["dog", "cat", "hamster"]

for animal in house_animals:
  print(animal)
  print(f"A {animal} is a house pet")




print("they are all common house pets")

dog
A dog is a house pet
cat
A cat is a house pet
hamster
A hamster is a house pet
they are all common house pets

In [ ]:
# TIY 4-3 Counting to Twenty
numbers = list(range(1, 21))

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# TIY 4-4 One million
numbers = list(range(0, 1000000))

for number in numbers:
    print(number)

In [ ]:
# TIY 4-5 Summing a million
numbers = list(range(1, 1_000_001))

print(min(numbers))
print(max(numbers))
print(sum(numbers))

In [ ]:
# TIY 4-6 Odd numbers
odd_numbers = list(range(1, 20, 2))

for number in odd_numbers:
    print(number)

In [ ]:
# TIY 4-7 Threes
threes = list(range(3, 31, 3))

for number in threes:
    print(number)

In [ ]:
# TIY 4-8 Cubes
cubes = []
for number in range(1, 11):
    cube = number**3
    cubes.append(cube)

for cube in cubes:
    print(cube)

In [ ]:
# TIY 4-9 Cube Comp.
cubes = [number**3 for number in range(1,11)]

for cube in cubes:
    print(cube)

In [ ]:
# TIY 4-10 Slices
pizzas = ["pepperoni", "cheese", "four cheese"]

for pizza in pizzas:
  print("i like this type of pizza:", pizza)
print("i really love pizza!!!!")

In [ ]:
# TIY 4-11 My pizzas your pizza
pizzas = ['pepperoni', 'cheese', 'four cheese']

friend_pizzas = pizzas[:]

pizzas.append("pinnaple")
friend_pizzas.append('five cheese')

print("My favorite pizzas are:")
for pizza in pizzas:
    print(f"- {pizza}")

print("\nMy friend's favorite pizzas are:")
for pizza in friend_pizzas:
    print(f"- {pizza}")

My favorite pizzas are:
- pepperoni
- cheese
- four cheese
- pinnaple

My friend's favorite pizzas are:
- pepperoni
- cheese
- four cheese
- five cheese

In [ ]:
# TIY 4-12 More Loops
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
for food in my_foods:
    print(f"- {food}")

print("\nMy friend's favorite foods are:")
for food in friend_foods:
    print(f"- {food}")

In [ ]:
# TIY 4-13
menu_items = (
    'salmon', 'chicken', 'lobster',
    'salmon burger', 'crab cakes',
    )

print("You can choose from the following menu items:")
for item in menu_items:
    print(f"- {item}")

menu_items = (
    'salmon', 'chicken', 'clam chowder',
    'lobster bites', 'sushi',
    )

print("\nOur menu has been updated.")
print("You can now choose from the following items:")
for item in menu_items:
    print(f"- {item}")

You can choose from the following menu items:
- salmon
- chicken
- lobster
- salmon burger
- crab cakes

Our menu has been updated.
You can now choose from the following items:
- salmon
- chicken
- clam chowder
- lobster bites
- sushi

In [ ]:
# I read the